:root {
    --color-primary: #fdc239;
    --color-text: #545d7a;
    --color-white: #fff;
    --color-title: #242e4c;
    --color-background: #f7f8fb;
    --color-border: #dae1f5;
    /* --color_default_footer:#ff5e14; */
    /* Fonts */
    --font-family: "Raleway", sans-serif;
    --fs-sm: 1vw;
    --fs-md: 1.2vw;
    --fs-lg: 1vw;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Transition & Box Shadow */
    --transition: 0.4s ease-in-out;
    --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

p {
    margin-bottom: 0;
}

#faq {
    background-color: var(--color-background);
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: var(--fs-md);
    font-weight: var(--fw-regular);




    .container {
        width: 100%;
        margin: auto;
        min-height: 100vh;
        padding: 4rem;
        display: grid;
        place-items: center;
    }

    .accordion__wrapper {
        background-color: var(--color-white);
        box-shadow: var(--shadow);
        border-radius: 2.5rem;
        width: 100%;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .line_wrappers {
            text-align: center;
            margin-bottom: 4vw;
        }
    }

    .accordion__title {
        font-size: var(--fs-lg);
        font-weight: var(--fw-bold);
        color: var(--color-title);
        text-align: center;
        margin-bottom: 4rem;
    }

    .accordion {
        border-bottom: 0.1rem solid var(--color-border);
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }

    .accordion:hover .accordion__question {
        color: var(--color-primary);
    }

    .accordion__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }

    .accordion__icon {
        background-color: var(--color-primary);
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--color-white);
        flex-shrink: 0;
    }

    .accordion__question {
        font-size: var(--fs-md);
        font-weight: var(--fw-medium);
        color: var(--color-title);
    }

    .accordion__answer {
        padding: 2rem 0;
    }

    .accordion__content {
        overflow: hidden;
        height: 0;
        transition: var(--transition);
    }
}

/* why choose us? */

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

section#services {

    a,
    a:active,
    a:focus {
        color: #333;
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    span,
    a,
    a:hover {
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }

    .section-head {
        margin-bottom: 60px;
    }

    .section-head h4 {
        position: relative;
        padding: 0;
        color: var(--yellow);
        line-height: 1;
        letter-spacing: 0.3px;
        font-size: 34px;
        font-weight: 700;
        text-align: center;
        text-transform: none;
        margin-bottom: 30px;
    }

    .section-head h4:before {
        content: '';
        width: 60px;
        height: 3px;
        background: var(--yellow);
        position: absolute;
        left: 0px;
        bottom: -10px;
        right: 0;
        margin: 0 auto;
    }

    .section-head h4 span {
        font-weight: 700;
        padding-bottom: 5px;
        color: #2f2f2f
    }

    p.service_text {
        color: #cccccc !important;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .section-head p,
    p.awesome_line {
        color: #818181;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .extra-text {
        font-size: 34px;
        font-weight: 700;
        color: #2f2f2f;
        margin-bottom: 25px;
        position: relative;
        text-transform: none;
    }

    .extra-text::before {
        content: '';
        width: 60px;
        height: 3px;
        background: var(--yellow);
        position: absolute;
        left: 0px;
        bottom: -10px;
        right: 0;
        margin: 0 auto;
    }

    .extra-text span {
        font-weight: 700;
        color: var(--yellow);
    }

    .item {
        background: #fff;
        text-align: center;
        padding: 30px 25px;
        -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
        box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        border: 5px solid rgba(0, 0, 0, 0.07);
        margin-bottom: 30px;
        -webkit-transition: all .5s ease 0;
        transition: all .5s ease 0;
        transition: all 0.5s ease 0s;
    }

    .item:hover {
        background: var(--yellow);
        box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
        -webkit-transition: all .5s ease 0;
        transition: all .5s ease 0;
        transition: all 0.5s ease 0s;
    }

    .item:hover .item,
    .item:hover span.icon {
        background: #fff;
        border-radius: 10px;
        -webkit-transition: all .5s ease 0;
        transition: all .5s ease 0;
        transition: all 0.5s ease 0s;
    }

    .item:hover h6,
    .item:hover p {
        color: #fff;
        -webkit-transition: all .5s ease 0;
        transition: all .5s ease 0;
        transition: all 0.5s ease 0s;
    }

    .item .icon {
        font-size: 40px;
        margin-bottom: 25px;
        color: var(--yellow);
        width: 90px;
        height: 90px;
        line-height: 96px;
        border-radius: 50px;
    }

    .item .feature_box_col_one {
        background: rgba(247, 198, 5, 0.20);
        color: var(--yellow)
    }

    .item .feature_box_col_two {
        background: rgba(255, 77, 28, 0.15);
        color: var(--yellow)
    }

    .item .feature_box_col_three {
        background: rgba(0, 147, 38, 0.15);
        color: var(--yellow)
    }

    .item .feature_box_col_four {
        background: rgba(0, 108, 255, 0.15);
        color: var(--yellow)
    }

    .item .feature_box_col_five {
        background: rgba(146, 39, 255, 0.15);
        color: var(--yellow)
    }

    .item .feature_box_col_six {
        background: rgba(23, 39, 246, 0.15);
        color: var(--yellow)
    }

    .item p {
        font-size: 15px;
        line-height: 26px;
    }

    .item h6 {
        margin-bottom: 20px;
        color: #2f2f2f;
    }

    .mission p {
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 28px;
        font-weight: 500;
    }

    .mission i {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: var(--yellow);
        border-radius: 50%;
        color: #fff;
        font-size: 25px;
    }

    .mission .small-text {
        margin-left: 10px;
        font-size: 13px;
        color: #666;
    }

    .skills {
        padding-top: 0px;
    }

    .skills .prog-item {
        margin-bottom: 25px;
    }

    .skills .prog-item:last-child {
        margin-bottom: 0;
    }

    .skills .prog-item p {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .skills .prog-item .skills-progress {
        width: 100%;
        height: 10px;
        background: #e0e0e0;
        border-radius: 20px;
        position: relative;
    }

    .skills .prog-item .skills-progress span {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: var(--yellow);
        width: 10%;
        border-radius: 10px;
        -webkit-transition: all 1s;
        transition: all 1s;
    }

    .skills .prog-item .skills-progress span:after {
        content: attr(data-value);
        position: absolute;
        top: -5px;
        right: 0;
        font-size: 10px;
        font-weight: 600;
        color: #fff;
        background: rgba(0, 0, 0, 0.9);
        padding: 3px 7px;
        border-radius: 30px;
    }

    .row {
        justify-content: center !important;
    }
}











.footer_page {
    ul {
        margin: 0px;
        padding: 0px;
    }

    .footer-section {
        background: #151414;
        position: relative;
    }

    .footer-cta {
        border-bottom: 1px solid #373636;
    }

    .single-cta i {
        color: var(--color-primary);
        font-size: 30px;
        float: left;
        margin-top: 8px;
    }

    .cta-text {
        padding-left: 15px;
        display: inline-block;
    }

    .cta-text h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    }

    .container {
        padding-left: 2vw;
    }

    .cta-text span {
        color: #757575;
        font-size: 15px;
    }

    .footer-content {
        position: relative;
        z-index: 2;
    }

    .footer-pattern img {
        position: absolute;
        top: 0;
        left: 0;
        height: 330px;
        background-size: cover;
        background-position: 100% 100%;
    }

    .row {
        justify-content: space-between;
    }

    .footer-logo {
        margin-bottom: 30px;
    }

    .footer-logo img {
        max-width: 200px;
    }

    .single-cta {
        display: flex;
        /* align-items: center; */
        gap: 1vw;
    }

    .footer-text p {
        margin-bottom: 14px;
        font-size: 14px;
        color: #7e7e7e;
        line-height: 28px;
    }

    .footer-social-icon span {
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 20px;
    }

    .footer-social-icon a {
        color: #fff;
        font-size: 16px;
        margin-right: 15px;
    }

    .footer-social-icon i {
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
    }

    .facebook-bg {
        background: #3B5998;
    }

    .twitter-bg {
        background: #55ACEE;
    }

    .google-bg {
        background: #DD4B39;
    }

    .footer-widget-heading h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        position: relative;
    }

    .footer-widget-heading h3::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background: var(--color-primary);
    }

    .footer-widget ul li {
        display: inline-block;
        width: 50%;
        margin-bottom: 12px;
    }

    .footer-widget ul li a:hover {
        color: var(--color-primary);
    }

    .footer-widget ul li a {
        color: #878787;
        text-transform: capitalize;
    }

    .subscribe-form {
        position: relative;
        overflow: hidden;
    }

    .subscribe-form input {
        width: 100%;
        padding: 14px 28px;
        background: #2E2E2E;
        border: 1px solid #2E2E2E;
        color: #fff;
    }

    .subscribe-form button {
        position: absolute;
        right: 0;
        background: var(--color-primary);
        padding: 13px 20px;
        border: 1px solid var(--color-primary);
        top: 0;
    }

    .subscribe-form button i {
        color: #fff;
        font-size: 22px;
        transform: rotate(-6deg);
    }

    .copyright-area {
        background: #202020;
        padding: 25px 0;
    }

    .copyright-text p {
        margin: 0;
        font-size: 14px;
        color: #878787;
    }

    .copyright-text p a {
        color: var(--color-primary);
    }

    .footer-menu li {
        display: inline-block;
        margin-left: 20px;
        font-size: 14px;
        color: grey;
    }

    .footer-menu li:hover a {
        color: var(--color-primary);
    }

    .footer-menu li a {
        /* font-size: 1vw; */
        color: #878787;
    }
    
}

.gradient {
    background: #833ab4;
    background: linear-gradient(to right,
            #833ab4, #fd1d1d, #fcb045);
}










@media screen and (min-width: 580px) {
    .accordion__wrapper {
        padding: 5rem 8rem;
    }
}